<!--begin gift-list.html-->



<form ng-submit="megaCrawlURL()" name="formMegaCrawlUrl">
    <button class="button icon fa-plus" type="submit">Add multi Urls</button>
</form>

<!--<div class="table-wrapper">
    <table class="alt">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Item 1</td>
                <td>Ante turpis integer aliquet porttitor.</td>
                <td>29.99</td>
            </tr>
            <tr>
                <td>Item 2</td>
                <td>Vis ac commodo adipiscing arcu aliquet.</td>
                <td>19.99</td>
            </tr>
            <tr>
                <td>Item 3</td>
                <td> Morbi faucibus arcu accumsan lorem.</td>
                <td>29.99</td>
            </tr>
            <tr>
                <td>Item 4</td>
                <td>Vitae integer tempus condimentum.</td>
                <td>19.99</td>
            </tr>
            <tr>
                <td>Item 5</td>
                <td>Ante turpis integer aliquet porttitor.</td>
                <td>29.99</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2"></td>
                <td>100.00</td>
            </tr>
        </tfoot>
    </table>
</div>-->


<div id="giftlist">
    <ul>
        <li ng-repeat="gift in gifts">

            <span class="image left">               
                <a href="{{gift.imageURL}}" target="_blank">
                    <img ng-src="{{gift.imageURL}}">
                </a>
            </span>

            <a href="{{gift.url}}" target="_blank">
                <h3>{{gift.id}} - {{gift.name}} </h3>
            </a>

            <h3 class="right">{{gift.price}} {{gift.currency}}</h3>

            <!--<div class="clear"></div>-->

            <p>Desc {{gift.description}}</p>

            <div class="imageFromCrawl">
                <div ng-repeat="image in gift.imagesURL">
                    <a href="{{image}}" target="_blank">
                        <img ng-src="{{image}}" width="50">
                    </a>
                </div>
            </div>

            <a ng-click="deleteGift(gift.id, $index)" class="optionItem"><i class="fa fa-trash-o"></i> Delete this gift</a>
        </li>
    </ul>
</div>


<form ng-submit="addNewGift()" name="formAddGift">

        <label for="name">Name: </label>
        <input id="name" type="text" placeholder="donnez moi un nom" ng-model="newGiftName">

        <button class="button icon fa-plus" type="submit">Add</button>

</form>


<form ng-submit="crawlURL()" name="formCrawlUrl">

    <label for="url">URL: </label>
    <input id="url" type="text" placeholder="donnez moi une url" ng-model="urlToGet">

    <button class="button icon fa-plus" type="submit">Add</button>

</form>



<!--end gift-list.html-->