

#giftlist {
    margin: auto;
}

#giftlist .clear {
    clear:both;
}

*#giftlist h3 {
    display:inline-block;  
}


*#giftlist h2 {
    display:inline-block;
}

*#giftlist .right {
    float: right;
}



*#giftlist .title {
    max-width: 500px;
    text-overflow:ellipsis;
    overflow:hidden;    
    
}

*#giftlist #prix {
   position:relative;
   float:right;
   top:0;
}


#giftlist ul {
    list-style-type: none;
}

#giftlist li img {
    float: left;
    margin: 0 15px 0 0;
    /*max-width: 150px;*/
    width: 150px;
}

#giftlist li p {
    /*font: 200 12px/1.5 Georgia, Times New Roman, serif;*/
    text-align: justify
}

#giftlist li {
    background: #eee;
    margin-top: 10px;
    padding: 10px;
    overflow: auto;
}

#giftlist li:nth-child(odd)  {
    background: #fff;
    margin-top: 10px;
    padding: 10px;
    overflow: auto;
}


#giftlist li:hover {
    background: #ddd;
    /*cursor: pointer;*/
}

#giftlist a {   
    cursor: pointer;
}


#giftlist .optionItem {
    float: right;
}


#giftlist .imageFromCrawl {
    /*clear:both;*/
}

#giftlist .imageFromCrawl img {
    width: 75px;
    display:block;
    margin: 0 15px 0 0;
}

