

#giftlist {
    margin: auto;
}

#giftlist .clear {
    clear:both;
}


#giftlist h3 {
    display:block;  
    margin:0;
    padding: 0;
}

#giftlist .right {
    float: right;
}



#giftlist .title {
    margin:0;
    padding: 0;
    /*max-width: 500px;
    text-overflow:ellipsis;
    overflow:hidden;*/        
}

#giftlist .prix h3 {
   color:#3CADD4 ;
   float:right;

}

#giftlist .linktoshop {
    margin:0;
    padding: 0;
    display:block;
}

#giftlist .description {
    margin:0;
    padding-top: 10px;
    display:block;
    font-style:italic;
}




#giftlist ul {
    list-style-type: none;
}

#giftlist li img {
    float: left;
    margin: 0 15px 0 0;
    /*max-width: 150px;*/
    width: 150px;
}

#giftlist li p {
    /*font: 200 12px/1.5 Georgia, Times New Roman, serif;*/
    text-align: justify
}

#giftlist li {
    background: #eee;
    margin-top: 10px;
    padding: 10px;
    overflow: auto;
}

#giftlist li:nth-child(odd)  {
    background: #fff;
    margin-top: 10px;
    padding: 10px;
    overflow: auto;
}


#giftlist li:hover {
    background: #ddd;
    /*cursor: pointer;*/
}

#giftlist a {   
    cursor: pointer;
}


#giftlist .optionItem {
    float: right;
}


#giftlist .imageFromCrawl {
    /*clear:both;*/
}

#giftlist .imageFromCrawl img {
    width: 75px;
    display:block;
    margin: 0 15px 0 0;
}

