
<h1>Home</h1>

<br /><br />

<table>

    <tr>
        <td>
            <a href="/#/login">/#/login</a>
            <br /><br />
            <a href="/#/signup">/#/signup</a>
        </td>

        <td>
            <a href="/#/lists/julie1">/#/lists/julie1</a>
            <br /><br />
            <a href="/#/lists/leo1">/#/lists/leo1</a>
        </td>        

        <td>
            <a href="/#/lists/">/#/lists/</a>
            <br /><br />
            <a href="/#/lists/new/">/#/lists/new/</a>
        </td>

    </tr>

</table>